numpy
python-dotenv
setuptools
uv
wheel
langchain
langchain-community
langchain-core
langchain-text-splitters
langgraph
google-genai
google-generativeai
chromadb
scikit-learn
torch
pandas
lightgbm
streamlit
pypdf
rich
